.main-car{
    background-color: #fcdfb0;
    width: 100%;
    height: 110%;
}
.image-resize{
    width: 100%;
    height: 600px!important;
    object-fit: contain;
    margin: 10px;
}
@media (width <= 992px){
    .image-resize{
        width: 100%;
    }
}
@media (width <= 480px){
    .main-car{
        padding: 0 0 0 0;
    }
    .image-resize{
        width: 100%;
        height: 500px;
        object-fit: cover;
        margin: 0g;
    }
}